:root{
    --ev-bg-primary: #522f2d;
    --ev-h-primary: #c9c18c;
    --ev-header: #292929;
    --ev-lightest: white;
    --ev-darkest: black;
    --ev-darker: grey;
    
    
}

/* #region common */

body{
    overflow-y: hidden;
    font-family: "Nanum Gothic", sans-serif;
    
    
    a{
        text-decoration: none;
        color: inherit;
    }

}
/* #endregion common */


/* #region header */


#site_header{
    min-height: 50px;
    
    .navbar{
        background-color: var(--ev-header);

        .navbar-brand{
            color: var(--ev-lightest);
            font-size: 2.5rem;
            align-items: center;
            flex-wrap: wrap;
            gap: 1.5rem;
        }
    }

}
/* #endregion header */



/* #region wrapper */
#wrapper{
    a:hover{
        text-decoration: underline;
    }
}
/* #region sidebar */
.sidebar{
    height: calc(100vh - 50px);
    background-color: var(--ev-darkest);
    max-width: 150px;
    color: var(--ev-lightest);
    flex-direction: column;

    .fa-solid{
        font-size: 1.75rem;
    }

    .top-aside{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        
        .d-flex{
            transition: background-color 200ms;
            gap: 0.5rem;
            align-items: center;
        }
    
        .d-flex:hover{
                background-color: var(--ev-darker);
        }
    }
}
/* #endregion sidebar */


/* #region main */

#site_main{
    width: 100%;
    background-color: var(--ev-bg-primary);
    flex-direction: column;
    row-gap: 1rem;
    overflow-y: auto;
    max-height: calc(100vh - 50px);

    .intestation{
        background-color: var(--ev-h-primary);
    }

    .container_text{
        color: var(--ev-lightest);

        > p{
            font-size: 1.1rem;
            line-height: 2rem;
        }
        
    }

    .accordion-button{
        border: 0.1px solid white;

    }

    .accordion-button:not(.collapsed)::after, .accordion-button.collapsed::after {
        background-color: white; 
        border-radius: 0.2rem;
    }
    
    #flush-collapseOne, #flush-collapseTwo, #flush-collapseThree{
        border: 0.1px solid white;
    }

    .accordion-button, #flush-collapseOne, #flush-collapseTwo, #flush-collapseThree{
        background-color: var(--ev-bg-primary);
        color: var(--ev-lightest);
        
    }
}
/* #endregion main */

/* #endregion wrapper */





/* #region footer */
/* #endregion footer */